@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" role="form" method="post">
            <input type="text" id="Username" name="Username" class="form-control input-lg" placeholder="Username" /><br />
            <input type="password" id="Password" name="Password" class="form-control input-lg" placeholder="Password" /><br />
            <button type="submit" id="GetDetails" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div>